body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login {
  text-decoration: none;
  font-size: 30px;
}

#nav-bar-1 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
}

#nav-title {
  font-size: 50px;
  margin-left: 100px;
}

#logout {
  text-decoration: none;
  font-size: 26px;
  margin-left: auto;
  margin-right: 50px;
}

#nav-bar-2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  background-color: #cccccc;
}

#nav-bar-2 a {
  text-decoration: none;
}

#nav-bar-2 a:hover {
  text-shadow: 1px 1px black;
}

.active {
  color: red;
}
