body {
  min-height: 100vh;
  background-image: url('../images/User_Show_Background.jpg');
}

.main-view {
  display: grid;
  grid-template-columns: 1fr 1300px 1fr;
  grid-template-rows: 150px 520px 1fr;
}

#pokemon-new-card {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 500px 420px 350px;
  grid-template-rows: 500px;
  grid-template-areas:
    "left center right";
  box-sizing: border-box;
  height: 520px;
  width: 1300px;
  border-width: 15px;
  border-style: solid;
  border-radius: 15px;

}

#pokemon-sprite-image {
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokemon-attributes {
  grid-area: center;
  font-family: 'Silkscreen', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#pokemon-name-change {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pokemon-release {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form div {
  margin-bottom: 10px;
}

#submitMoves:hover {
    cursor: pointer;
  }
  
#showMovesChoice {
    resize: none;
  }

.normal {
    border-color: #999966;
    background-color: #f5f5f0
}

.fire {
    border-color:#ff6600;
    background-color: #fff0e6;
}

.water {
    border-color: #6699ff;
    background-color: #e6eeff;
}

.grass {
  border-color: #009933;
  background-color: #e6ffee;
}

.electric {
  border-color: #ffcc00;
  background-color: #fffae6;
}

.ice {
  border-color: #99ccff;
  background-color: #e6f2ff;
}

.fighting {
  border-color: #990000;
  background-color: #ffe6e6;
}

.poison {
  border-color: #993399;
  background-color: #f9ecf9;
}

.ground {
  border-color: #cc9900;
  background-color: #fff9e6;
}

.flying {
  border-color: #cc99ff;
  background-color: #f2e6ff;
}

.psychic {
  border-color: #ff3399;
  background-color: #ffe6f2;
}

.bug {
  border-color: #cccc00;
  background-color: #ffffe6;
}

.rock {
  border-color: #996633;
  background-color: #f9f2ec;
}

.ghost {
  border-color: #333399;
  background-color: #ececf9;
}

.dark {
  border-color: #333300;
  background-color: #ffffe6;
}

.dragon {
  border-color: #6600ff;
  background-color: #f0e6ff;
}

.steel {
  border-color: #a6a6a6;
  background-color: #f2f2f2;
}

.fairy {
  border-color: #ff99cc;
  background-color: #ffe6f2;
}