<%- include('../partials/header') %>
<nav id="nav-bar-1">
    <span id="nav-title"><%= title %></span>
    <!-- the line below is just to check that you can't have more than one trainer account per gmail address -->
    <!-- <a href="/users">Check account</a> -->
    <a href="/logout" id="logout"><span class="material-symbols-outlined">logout</span> Logout</a>
</nav>

<div id="userInfo">
    <a href="/flights/">Edit Trainer Details</a>
</div>

    
    

    <a 
<%- include('../partials/footer') %>