<%- include('../partials/header') %>

<form action="/pokemons/new" method="GET">
    <div >
      <input type="text" name="name" placeholder="Enter a pokemon name or ID no." autocomplete="off"
      size="30">
      <span >
        <button type="submit">Find</button>
      </span>
    </div>
  </form>
    
<%- include('../partials/footer') %>